.character_sprites{ background:url("character_sprites.png") top left no-repeat; }
#item-13{ width:100px; height:100px; background-position:-2px -2px; }
#item-12{ width:100px; height:100px; background-position:-2px -104px; }
#item-11{ width:100px; height:100px; background-position:-2px -206px; }
#item-5{ width:100px; height:100px; background-position:-2px -308px; }
#item-4{ width:100px; height:100px; background-position:-2px -410px; }
#item-3{ width:100px; height:100px; background-position:-2px -512px; }
#item-2{ width:100px; height:100px; background-position:-2px -614px; }
#item-1{ width:100px; height:100px; background-position:-2px -716px; }
#item-10{ width:100px; height:100px; background-position:-2px -818px; }
#item-9{ width:100px; height:100px; background-position:-2px -920px; }
#item-8{ width:100px; height:100px; background-position:-2px -1022px; }
#item-7{ width:100px; height:100px; background-position:-2px -1124px; }
#item-6{ width:100px; height:100px; background-position:-2px -1226px; }
